@tailwind base;
@tailwind components;
@tailwind utilities;

.manager{
    backdrop-filter: blur(0.5px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border:2px solid rgba(255, 255, 255, 0.18);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

.mangerTable::-webkit-scrollbar {
    width: 3px;
  }  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(22, 163, 74);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(22, 163, 74);
  }